.container {
  border: 3px solid #000000;
  border-radius: 12px;
  padding: 20px;
  margin-right: 15px;
}

.name {
  font-size: 48px;
  text-align: center;
  margin: 16px 0 0 0;
}

.status {
  font-size: 32px;
  text-align: center;
  margin: 10px 0 0 0;
}

.green {
  color: green;
}

.red {
  color: red;
}
